@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* Start Universal Styles */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --clr-primary-marine-blue: hsl(213, 96%, 18%);
  --clr-primary-purplish-blue: hsl(243, 100%, 62%);
  --clr-primary-pastel-blue: hsl(228, 100%, 84%);
  --clr-primary-light-blue: hsl(206, 94%, 87%);
  --clr-primary-strawberry-red: hsl(354, 84%, 57%);

  --clr-neutral-cool-gray: hsl(231, 11%, 63%);
  --clr-neutral-light-gray: hsl(229, 24%, 87%);
  --clr-neutral-magnolia: hsl(217, 100%, 97%);
  --clr-neutral-alabaster: hsl(231, 100%, 99%);
  --clr-neutral-white: hsl(0, 0%, 100%);
}

li {
  list-style: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    background-color: var(--clr-neutral-magnolia);
    position: relative;
}

input,
button {
  font: inherit;
}

img {
  width: 100%;
}

html {
  font-size: 16px;
}

@media (max-width: 48rem) {
  html {
    font-size: 60%;
  }
}
/* End Universal Style */

/* Start Step Section */
.step {
  display: none;
}

.step.active {
  display: inline-block;
}

.form__steps--title {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--clr-primary-marine-blue);
  padding-bottom: 0.3125rem;
}

.form__steps--description {
  color: var(--clr-neutral-cool-gray);
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 1.875rem;
}
/* End Step Section */

/* Start Card Section */
.card {
  border: 0.125rem solid var(--clr-neutral-light-gray);
  border-radius: 0.625rem;
  padding: 0.9375rem;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 48rem) {
  .card {
    padding: 0.625rem;
  }

  .add-ons__card {
    min-height: 5.625rem;
  }
}

.card:hover {
  border-color: var(--clr-primary-pastel-blue);  
}

.card.selected {
  background-color: var(--clr-neutral-magnolia);
  border-color: var(--clr-primary-pastel-blue);
}

.steps__section--title {
  color: var(--clr-neutral-light-gray);
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 0.125rem;
}

.steps__section--subtitle {
  color: var(--clr-neutral-white);
  font-weight: 500;
  text-transform: uppercase;
}

.plan__card--price {
  color: var(--clr-neutral-cool-gray);
  font-weight: 500;
}

.plan__card--name {
  color: var(--clr-primary-marine-blue);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 0.125rem;
}

.card__description {
  color: var(--clr-neutral-cool-gray);
  font-weight: 500;
}
/* End Card Section */

/* Start Main Section */
.main {
  max-width: 65.625rem;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-neutral-magnolia);
  place-self: center;
}

@media (max-width: 48rem) {
  .main {
    align-items: flex-start;
  }
}
/* End Main Section */

/* Start Steps Section */
.steps__container {
    width: 100%;
    display: grid;
    grid-template-columns: 18.125rem 1fr;
    gap: 1.5625rem;
    min-height: 37.5rem;
    background-color: var(--clr-neutral-white);
    padding: 0.9375rem;
}

@media (min-width: 57.5rem) {
  .steps__container {
    gap: 6.25rem;
  }
}

@media (max-width: 48rem) {
  .steps__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    padding-bottom: 5.625rem;
    background-color: var(--clr-neutral-magnolia);
  }
}
/* End Steps Section */

/* Start Sidebar Section */
.sidebar {
  width: 100%;
  border-radius: 0.625rem;
  grid-column-start: 1;
  grid-column-end: 2;
  background: url('../assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1.875rem 1.25rem;
  margin-right: auto;
}
/* End Sidebar Section */

/* Start Step Number and Name Container Section */
.steps__section {
  display: flex;
  align-items: center;
  padding-bottom: 1.875rem;
}

.steps__section--num {
  border: 0.0625rem solid var(--clr-neutral-light-gray);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: var(--clr-neutral-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.4rem;
  margin-right: 0.9375rem;
}

.steps__section--num.active {
  background-color: var(--clr-primary-light-blue);
  color: var(--clr-primary-marine-blue);
}

@media (max-width: 48rem) {
  .sidebar {
    border-radius: 0;
    background: url(../assets/images/bg-sidebar-mobile.svg);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 11.875rem;
  }

  .steps__section {
    padding: 0;
  }

  .steps__section > steps__section--text {
    display: none;
  }

  .steps__section .steps__section--num {
    margin: 0 0.625rem;
  }
}
/* End Step Number and Name Container Section */

/* Start Plan Section */
.form__steps--container {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 1.5625rem;
  padding-right: 1.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 48rem) {
  .form__steps--container {
    padding: 0;
    align-items: center;
  }

  .steps {
    width: 95%;
    background-color: var(--clr-neutral-white);
    margin-top: -4.375rem;
    border-radius: 0.625rem;
    padding: 1.25rem 0.9375rem; 
  }
}
/* End Plan Section */

/* Start Personal Info | Step 1 Section */
.form__steps--list {
  display: flex;
  flex-direction: column;
}

.form__steps--list-item {
  margin-bottom: 1.5625rem;
  display: flex;
  flex-direction: column;
}

.form__steps--input-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.3125rem;
}

.form__steps--label {
  color: var(--clr-primary-marine-blue);
  font-weight: 500;
}

.form__steps--warning {
  color: var(--clr-primary-strawberry-red);
  font-weight: 500;
}

.input {
  padding: 0.625rem;
  border: 0.125rem solid var(--clr-neutral-cool-gray);
  border-radius: 0.3125rem;
  width: 100%;
  font-weight: 500;
  color: var(--clr-primary-marine-blue);
  font-size: 1.7rem;
}

.input:hover {
  border-color: var(--clr-primary-pastel-blue);
  transition: 0.25s;
}

.input.error,
.input:hover {
  border-color: var(--clr-primary-strawberry-red);
  transition: 0.25s;
}

#select-plan-error {
  color: var(--clr-primary-strawberry-red);
  font-weight: 700;
  text-align: center;
  height: 1.25rem;
  margin-bottom: 0.3125rem;
}




/* End Personal Info | Step 1 Section */
